.memorama-container {
    text-align: center;
    padding: 20px;
}

.btn-volver,
.btn-reiniciar {
    background: #6b4ce6;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.titulo {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* ⭐ GRID MÁS GRANDE */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    /* antes 80px */
    gap: 20px;
    justify-content: center;
}

/* ⭐ CARTAS MÁS GRANDES Y PROPORCIONALES */
.carta {

    background: #ececec;
    border-radius: 15px;
    font-size: 70px;
    /* antes 50px */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    /* antes 80px */
    height: 150px;
    /* antes 120px auto */
    cursor: pointer;
    transition: 0.3s;
}

.carta.abierta {
    background: #fff6c9;
    transform: scale(1.08);
}


.win-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #222;
    animation: pop 0.6s ease-out, fadeOut 3s forwards;
    z-index: 999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Animación de zoom */
@keyframes pop {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0;
    }

    60% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* Se desvanece */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.btn-nivel {
    background: #6b4ce6;
    border: none;
    padding: 12px 20px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s ease;
}

.btn-nivel:hover {

    transform: scale(1.05);
    background: #593cd1;
}

/* Animación final */
.ganaste-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease;
}

.ganaste-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    font-size: 28px;
    animation: scaleIn 0.4s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}